/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(197, 197, 197);
  }
  
  nav {
    background-color: rgb(9, 95, 95);;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    background-color:rgb(0,0,0);;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: darkcyan;
}
  
  .hero {
    text-align: center;
    padding: 50px 0;
    background-color: rgb(63, 63, 63);;
    color: #fff;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
  
  .hero button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: rgb(197, 197, 197);
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .featured {
    padding: 50px 0;
    display :flex;
    justify-content: center; 
  align-items: center;
  }
  
  .featured h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  

  .format
  {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }
  .format h2{
    text-align: center;

  }
  
  .languages {
    padding: 50px 0;
    display :flex;
    justify-content: center;
    align-items: center;
  }
  
  .languages h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .practice {
    padding: 50px 0;
    display :flex;
    justify-content: center;
    align-items: center;
  }
  
  .practice h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .challenge {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .challenge h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
    .community {
    padding: 50px 0;
    text-align: center;
  }
  
  .community h2 {
    margin-bottom: 30px;
  }
  
  .community p {
    margin-bottom: 20px;
  }
  
  .community a {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  footer ul {
    list-style-type: none;
  }
  
  footer ul li {
    display: inline;
    margin-right: 20px;
  }
  
  footer ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    margin-right: 10px;
  }