body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.container{
  border: 2px solid black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.select{
  border: 2px solid black;
  height: 15%;
  width: 99%;
  margin-left: 5px;
  margin-right: 5px;
  background-color: 9a7979;
}

.courses{
  border: 2px solid black;
  height: 82%;
  width: 99%;
  margin-left: 5px;
  margin-right: 5px;
  display: flex; 
  justify-content: space-between;
}

.card {
  width: 30%; /* Adjust width as needed */
  padding: 20px;
  border: 1px solid black;
  margin: 10px;
  box-sizing: border-box;
  height: 90%;
  background-color: #f8f8f8;
}

p{
  font-size: 20px;
}
.submit{
  background-color: #b1c8ab; 
  color: #000000; 
  padding: 10px 20px; 
  font-size: 16px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
  margin: auto;      
}

.submit:hover{
  background-color: #beefb0;
}

img{
  height: 225px;
  width: 225px;
}
